/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
} */

main {
    height: 100vh;
}

main h1 {
    text-align: center;
}

footer {
    margin: 10rem 0 0 0;  
}

#footer-message {
    text-align: center;
}

#footer-message a {
    text-decoration: none;
    color: inherit;
}