/* Variables */
:root {
/* Colors */
    /* Primary */
    --violet: hsl(263, 55%, 52%);
    --dark-gray: hsl(217, 19%, 35%);
    --blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral */
    --gray: hsl(0, 0%, 81%);
    --grayish-blue: hsl(210, 46%, 95%);
}

/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Utilities */

/* Global CSS */

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 500;
    background-color: var(--grayish-blue);
}

.container {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: space-around;
    max-width: 95%;
    height: 100vh;
}

h2 {
    font-size: 1.25rem;
}

.verified-label {
    font-size: 1.1rem;
}

.testimonial-grid {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1.5rem;
}

.testimonial {
    padding: 2rem;
    color: var(--white);
    border-radius: 1rem;

    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217 19% 35% / 0.25);;
}

.testimonial-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testimonial-header div:last-child {
    padding-left: 1.25rem;
}

.testimonial img {
    max-width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.t-quote {
    font-size: 2rem;
    padding-top: 1.5rem;
}

.t-message {
    padding-top: 1.5rem;
    font-size: 1.1rem;
}

.t-one {
    background-color: var(--violet);
}

.t-two {
    background-color: var(--dark-gray);
}

.t-three, .t-five {
    background-color: var(--white);
    color: var(--blackish-blue);
}

.t-four{
    color: var(--white);
    background-color: var(--blackish-blue);
}

.t-four img {
    border: .25rem solid var(--violet);
}

@media screen and (min-width: 700px) {
    .testimonial-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .t-one {
        grid-column-end: span 2;
    }

    .t-four {
        grid-column-start: 2;
        grid-column-end: span 2;
    }
    .t-three {
        grid-row-start: 2;
    }
    .t-five {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}